* {
      
       margin: 0;
       box-sizing: border-box;
      
     }


.container {
  position: relative;
  margin: 150px 100px;
  bottom: 0rem;
  left: 34px;
  right: 45px;
  height: 550px;
  width: 1010px;
  border-radius: 89px;
  background: #e0e0e0;
  box-shadow: 41px 41px 82px #a4a4a4, -41px -41px 82px #ffffff;
}

button {
  position: absolute;
  bottom: 50px;
  left: 300px;
 
  --btn-color: rgb(64, 48, 242);

  padding: 1em 5em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
 
color: wheat;
  transition: all 0.3s;
}



button:hover {
  background-color: aqua;
  
}



#publicKeyRecie {
  position: absolute;
  bottom: 290px;
  left: 110px;
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  width: 590px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #030303;
}
#Amount{
  position: absolute;

  bottom: 210px;
  left: 110px;
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  width: 590px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #0a0a0a;
}

.SelectToken{
  position: absolute;
  bottom: 120px;
  left: 110px;
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  width: 590px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #0c0c0c;
}


h1{
  position: absolute;
  bottom: 430px;
left: 150px;
text-decoration: solid 3px;

}
