* {
      
       margin: 0;
       box-sizing: border-box;
       background-image: linear-gradient( green);
     }


.container {
 
  position: relative;
  margin: 190px 300px;
  bottom: 0rem;
  left: 34px;
  right: 45px;
  height: 550px;
  width: 1010px;
  border-radius: 89px;
  background: #e0e0e0;
  box-shadow: 41px 41px 82px #a4a4a4, -41px -41px 82px #ffffff;

}

button {
  position: absolute;
  bottom: 150px;
  left: 420px;
 
  --btn-color: rgb(64, 48, 242);

  padding: 0.5em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  transition: all 0.3s;
}



button:hover {
  background-color: aqua;
  
}



#publicKeyRecie {
  padding: 13px;
  position: absolute;
  bottom: 290px;
  left: 330px;
  margin: 30px;
  width: 30vh;

  
}
#Amount{

  position: absolute;
padding: 13px;
  width: 30vh;
  bottom: 210px;
  left: 330px;
  margin: 30px;
 
}

/* .SelectToken{
  position: absolute;
  bottom: 120px;
  left: 110px;
  margin: 30px;
 width: 200px;
} */


h1{
  position: absolute;
  bottom: 430px;
left: 250px;
text-decoration: solid 3px;

}
